<%= form_for(@comment,  url: comments_path) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :text %><br>
      <%= f.text_field :text %>
      <%= f.hidden_field :exam_id, :value => @exam.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
