<% @exam.comments.each  do |comment| %>
    <div style="background-color: #E0F2F7; margin-bottom: 10px;">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Kommentar vom <%= comment.created_at %>:</strong>
      <p><%= comment.text %></p>
    </p>
    </div>
<% end %>
