    <div style="background-color: #E0F2F7; margin-bottom: 10px;">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Kommentar wurde erfolgreich erstellt!</strong>
      <p><a href="<%= exam_path(@comment.exam_id) %>">zur&uuml;ck zur Pr&uuml;fung</a></p>
    </p>
    </div>
