<h1>AdminPanelDisplayListOverview:</h1>
<% if current_user.is_admin %>
<table>
  <% User.all.each do |user| %>
      <tr>
        <%= form_tag("/users/edit") do %>
            <td><%= user.email %></td>
            <%= hidden_field_tag("user_id", user.id) %>
            <td><%= select("post", "role", Role.all.collect { |role| [role.name, role.id] }, :selected => user.role.id) %></td>
            <td><%= submit_tag("Save") %></td>
        <% end %>
      </tr>
  <% end %>
</table>
<% else %>
<h1>Du kummst hier net rein</h1>
<% end %>