<h1>Events</h1>
<p>
  Listing all Events
</p>
<% if current_user.is_professor %>
    <%= link_to 'New event', new_event_path %>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Start</th>
    <th>Location</th>
    <th>Host</th>

    <% if current_user.is_professor %>
    <th>Edit</th>
    <th>Delete</th>
    <% end %>
  </tr>

  <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title , event_path(event)%></td>
        <td><%= event.start %></td>
        <td><%= event.location %></td>
        <td><%= event.host %></td>

        <% if current_user.is_professor %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
</table>