<h1><%= @event.title %></h1>
<p><strong>Start:</strong> <%= @event.start %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Host:</strong> <%= @event.host %></p>
<p><strong>Description:</strong> <%= simple_format h @event.text %></p>
<%= current_user.is_professor ? (link_to 'Edit', edit_event_path(@event)) : '' %>
<%= link_to 'Back', events_path %>

