<%= form_for(@exam) do |f| %>
    <% if @exam.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

            <ul>
                <% @exam.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.select(:student_id, @students_array) %>
    </div>
    <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :grade %><br>
        <%= f.text_field :grade %>
    </div>
    <div class="field">
        <%= f.label :exam_picture%><br>
        <%= f.file_field :exam_picture, id: "file-upload" %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
