<h1>E-Mail: <%= @user.email %></h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
	  <th>Titel</th>
	  <th>Professor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.grade %></td>
        <td><%= exam.title %></td>
        <td><%= exam.professor.email %></td>
        <td><%= link_to 'Anzeigen', exam %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
