<p id="notice"><%= notice %></p>
<h1>Pruefung</h1>
<p>
  <strong>Note:</strong>
  <%= @exam.grade %>
</p>

<p>
  <strong>Titel:</strong>
  <%= @exam.title %>
</p>

<p>
  <img src="<%= @exam.exam_picture %>" />
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>

<%= render partial: 'comments/show', object: @exam %>
<%= render partial: 'comments/new', object: @comment %>