<!DOCTYPE html>
<html>
<head>
  <title>SoSi14</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>




<% if user_signed_in? %>
    <%= link_to "Home", root_path %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% if current_user.is_admin %>
        <%= link_to "Admin", :controller => :admin, :action => :index %>
    <% end %>
<% else %>
    <%= link_to "Sign in", new_user_session_path, :method => :get %>
    <%= link_to "Register", new_user_registration_path, :method => :get %>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
